VITE_SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cXFrYmJldHZ5cnFjdGpybnRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkzNDk3NTksImV4cCI6MjAyNDkyNTc1OX0.FFtFzY1D1ixYDnvjKG0Yx-151afCjt4gQ817HDiClL0
VITE_SUPABASE_URL= https://hwqqkbbetvyrqctjrntn.supabase.co